%p#notice= notice

%p
  %b Full name:
  = @author.full_name
%p
  %b Sort name:
  = @author.sortable_name
%p
  %b Given name:
  = @author.given_name
%p
  %b Family name:
  = @author.family_name

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
