- model_class = Author
.page-header
  %h1=t '.title', :default => @author.full_name

%p
  %strong= 'Full name:'
  = @author.full_name
%p
  %strong= "Last, First:"
  = @author.sortable_name
%p
  %strong= 'Given name:'
  = @author.given_name
%p
  %strong= 'Family name:'
  = @author.family_name


= link_to t('.back', :default => t("helpers.links.back")), authors_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_author_path(@author), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), author_path(@author), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
