- model_class = User
.page-header
  %h1=t '.title', :default => @user.email

%p
  %strong= 'ID:'
  %br
  = @user.id
%p
  %strong= 'email:'
  %br
  = @user.email
- if @user.blocked?
  %td= link_to 'Unblock', unblock_useradmin_path(@user), class: 'btn btn-default'
- else 
  %td= link_to 'Block', block_useradmin_path(@user), class: 'btn btn-default'
= link_to t('.back', :default => t("helpers.links.back")), useradmin_index_path, :class => 'btn btn-default'
= link_to 'Impersonate Me!', impersonate_useradmin_path(@user), class: 'btn btn-default'
- if !@user.admin?
  %td= link_to 'Make Admin', adminify_useradmin_path(@user), class: 'btn btn-default'
