= form_for @book, html: { class: "form form-horizontal book" } do |f|
  .form-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'form-control', required: true
    = error_span(@book[:title])
  .form-group
    = f.label :is_active, class: 'control-label'
    .controls
      = f.text_field :is_active, class: 'form-control', required: true
    = error_span(@book[:is_active])
  .form-group
    = f.label :owner_id, class: 'control-label'
    .controls
      = f.text_field :owner_id, class: 'form-control', required: true
    = error_span(@book[:owner_id])
  .form-group
    = f.label :isbn10, class: 'control-label'
    .controls
      = f.text_field :isbn10, class: 'form-control', required: true
    = error_span(@book[:isbn10])
  .form-group
    = f.label :isbn13, class: 'control-label'
    .controls
      = f.text_field :isbn13, class: 'form-control', required: true
    = error_span(@book[:isbn13])
  .form-group
    = fields_for :author do |fa| 
      = fa.label :full_name, class: 'control-label'
    .controls
      = collection_select(:book, :author_id, Author.all, :id, :full_name)
    = error_span(@book[:author_id])
  .form-group
    = f.label :tags, class: 'control-label'
    .controls
      = f.text_field :tag_list, class: 'form-control', required: true
    = error_span(@book[:tag_list])
  .form-group
    = f.label :cover, class: 'control-label'
    = image_tag(@book.cover_url(:thumb)) if @book.cover?
    .controls
      = f.file_field :cover, class: 'form-control', required: true
      = f.hidden_field :cover_cache
    = error_span(@book[:cover])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), books_path, :class => 'btn btn-default'
