= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = fields_for :author do |fa| 
      = fa.label :full_name
      = fa.text_field :full_name
  .field
    = f.label :isbn10
    = f.text_field :isbn10
  .field
    = f.label :isbn13
    = f.text_field :isbn13
  .field
    = f.label :is_active
    = f.check_box :is_active
  .actions
    = f.submit 'Save'
