%h1 Listing books

%table.table.table-striped
  %tr
    %th Title
    %th ISBN 10
    %th ISBN 13
    %th Is active
    %th
    %th
    %th

  - @books.each do |book|
    %tr
      %td= book.title
      %td= book.isbn10
      %td= book.isbn13
      %td= book.is_active
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
