%p#notice= notice

%p
  %b Title:
  = @book.title
%p
  %b Author:
  = @book.author.full_name
%p
  %b ISBN 10:
  = @book.isbn10
%p
  %b ISBN 13:
  = @book.isbn13
%p
  %b Is active:
  = @book.is_active
%p
  %b Tags:
  = @book.tag_list
%p
  = image_tag @book.cover.url if @book.cover?

= link_to 'Reviews', book_reviews_path(@book)
= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
