- model_class = Book
.page-header
  %h1=t '.title', :default => @book.title

%p
  %strong= 'Author_id:'
  = link_to @book.author.full_name, author_path(@book.author)
%p
  %strong= 'ISBN (10 digit):'
  = @book.isbn10
%p
  %strong= 'ISBN (13 digit):'
  = @book.isbn13
%p
  %strong= 'Tag_list:'
  = @book.tag_list
%p
  %strong= 'Active?:'
  = @book.is_active
%p
  %strong= 'Following:'
  = current_user ? current_user.following?(@book) : 'Not logged in'
%p
  %strong= 'Added by:'
  = User.find(@book.owner_id).email
%p
  %strong= 'Cover:'
  %br
  = image_tag @book.cover.url if @book.cover?
%p
  %strong= 'Rating:'
  = rating_for @book, "rating", :cancel => true

= link_to t('.back', :default => t("helpers.links.back")), books_path, :class => 'btn btn-default'
= link_to 'Reviews', book_reviews_path(@book), :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_book_path(@book), :class => 'btn btn-default' if @book.user == current_user
= link_to t('.destroy', :default => t("helpers.links.destroy")), book_path(@book), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if @book.user == current_user
