- model_class = Review
.page-header
  %h1=t '.title', :default => "Reviews: #{@book.title}"
%table.table.table-striped
  %thead
    %tr
      %th= sortable 'id'
      %th= sortable 'text'
      %th= sortable 'rating'
      %th= 'Reviewer'
      %th= sortable 'created_at'
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @reviews.each do |review|
      %tr
        %td= link_to review.id, [review.book, review] 
        %td= review.text
        %td= rating_view review
        %td= review.reviewer.email
        %td=l review.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_book_review_path(review.book, review), :class => 'btn btn-default btn-xs' if review.reviewer == current_user
          = link_to t('.destroy', :default => t("helpers.links.destroy")), [review.book, review], :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if review.reviewer == current_user
    = will_paginate @reviews, renderer: BootstrapPagination::Rails

= link_to t('.new', :default => t("helpers.links.new")), new_book_review_path, :class => 'btn btn-primary' if ( current_user && !current_user.blocked )
